@import url('https://fonts.googleapis.com/css?family=Pacifico|Saira+Semi+Condensed');
body {
  background-attachment: fixed;
  image: filter(url("https://wallpaperscraft.com/image/rain_island_clouds_volume_sky_52002_1920x1080.jpg"), blur(20px)) s;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s linear;
}
.main {
  text-align: center;
}
.main h1 {
  font-family: Pacifico;
  font-size: 70px;
  margin: 30px;
}
.symbol i {
  font-size: 100px;
  color: #21A0A0;
  margin: 20px;
}
#tags {
  margin: 20px;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
}
.main {
  background-color: rgba(203, 212, 194, 0.3);
  width: 50%;
  margin: 2% 25%;
  padding: 10px;
  border-radius: 5%;
}
.main p {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 30px;
}
.main .name {
  margin-bottom: 20px;
}
.main button {
  font-size: 16px;
  font-family: Pacifico;
  color: #fff;
  border: 0;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  outline: none;
  transition: background-color 0.2s ease-in;
}
.btnbg {
  background-color: #21A0A0;
}
.btnnone {
  background-color: transparent;
}
